<nav class="navbar">
    <div class="navbar-left">
        <img src="Qué_Comemos_logo.png" alt="¿Qué comemos? Logo" class="logo" [routerLink]="['/']">
        <span class="brand-name"><a [routerLink]="['/home-menu-list']">Menues</a></span>
    </div>
    <div class="navbar-right">
        <button class="btn-primary" [routerLink]="['/login']">Iniciar Sesión</button>
        <button class="btn-secondary">Registrarse</button>
    </div>
</nav>

<main class="main-content">
    <header class="header">
        <h1>Buffet Informática UNLP</h1>
        <p>Ofrecemos a diario diversos menús cuidadosamente planificados por nutricionistas de la UNLP</p>
    </header>

    <section class="menu-grid">
        <div class="menu-card" *ngFor="let menu of menus">
            <div class="card-content">
                <h4>{{ menu.nombre }}</h4>
                <p><b>Precio</b>: ${{ menu.precio }}</p>
                <button (click)="verDetalles(menu)" class="btn-primary">Detalles</button>
            </div>
        </div>
    </section>

    <!-- Popup para mostrar los detalles -->
    <div class="modal" [ngClass]="{'show': mostrarModal}" (click)="cerrarModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close" (click)="cerrarModal()">&times;</span>

            <h2>{{ menuSeleccionado?.nombre }}</h2>
            <p><b>Precio</b>: ${{ menuSeleccionado?.precio }}</p>
            <p><b>Descripción</b>: {{ menuSeleccionado?.descripcion }}</p>

            <ul>
                <li *ngFor="let comida of menuSeleccionado?.comidas">
                    <p><b>Tipo de Comida:</b> {{ comida.tipoComida }}</p>
                    <p><b>Nombre:</b> {{ comida.nombre }}</p>
                </li>
            </ul>
        </div>
    </div>


</main>

<footer class="footer">
    <p>¿Qué comemos? - Buffet Informática UNLP © 2024. Todos los derechos reservados.</p>
</footer>