<main class="main-content">
    <header class="header">
        <h1>Buffet Informática UNLP</h1>
        <p>Ofrecemos a diario diversos menús cuidadosamente planificados por nutricionistas de la UNLP</p>
    </header>

    <section class="menu-grid">
        <div class="menu-card" *ngIf="cartaDelDia">
            <div class="card-content">
                <h2>CARTA DEL DIA<br>{{ cartaDelDia.diaSemana }}</h2>
                <div class="card-content" *ngFor="let menu of cartaDelDia.menus">
                    <p>{{ menu.nombre }}</p>
                    <div *ngIf="menu.comidas && menu.comidas.length > 0">
                        <h3>Comidas:</h3>
                        <ul>
                            <li *ngFor="let comida of menu.comidas">
                                <b>{{ comida.tipoComida }}:</b>
                                {{ comida.nombre }}
                                <b>Precio: </b>${{ comida.precio }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
