<div class="container mt-4">
  <h2>Actualizar Comida</h2>
  <form [formGroup]="comidaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input id="nombre" formControlName="nombre" type="text" class="form-control">
      <div *ngIf="comidaForm.get('nombre')?.invalid && (comidaForm.get('nombre')?.dirty || comidaForm.get('nombre')?.touched)" class="text-danger">
        <div *ngIf="comidaForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="foto">Foto</label>
      <input id="foto" formControlName="foto" type="text" class="form-control">
      <div *ngIf="comidaForm.get('foto')?.invalid && (comidaForm.get('foto')?.dirty || comidaForm.get('foto')?.touched)" class="text-danger">
        <div *ngIf="comidaForm.get('foto')?.errors?.['required']">La foto es obligatoria.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="tipoComida">Tipo de Comida</label>
      <select id="tipoComida" formControlName="tipoComida" class="form-control">
        <option *ngFor="let tipo of tiposComida" [value]="tipo">{{ tipo }}</option>
      </select>
      <div *ngIf="comidaForm.get('tipoComida')?.invalid && (comidaForm.get('tipoComida')?.dirty || comidaForm.get('tipoComida')?.touched)" class="text-danger">
        <div *ngIf="comidaForm.get('tipoComida')?.errors?.['required']">El tipo de comida es obligatorio.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="inMenu">En Menú</label>
      <input id="inMenu" formControlName="inMenu" type="checkbox" class="form-check-input">
    </div>

    <div class="form-group">
      <label for="precio">Precio</label>
      <input id="precio" formControlName="precio" type="number" class="form-control">
      <div *ngIf="comidaForm.get('precio')?.invalid && (comidaForm.get('precio')?.dirty || comidaForm.get('precio')?.touched)" class="text-danger">
        <div *ngIf="comidaForm.get('precio')?.errors?.['required']">El precio es obligatorio.</div>
        <div *ngIf="comidaForm.get('precio')?.errors?.['min']">El precio debe ser mayor o igual a 0.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="comidaForm.invalid">Actualizar Comida</button>
  </form>
</div>