<div class="container mt-4">
  <h2 class="text-center mb-4">Crear Comida</h2>
  <form [formGroup]="comidaForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-sm bg-light mx-auto"
    style="max-width: 600px;">
    <div class="form-group mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input id="nombre" formControlName="nombre" type="text" class="form-control">
      <div
        *ngIf="comidaForm.get('nombre')?.invalid && (comidaForm.get('nombre')?.dirty || comidaForm.get('nombre')?.touched)"
        class="text-danger">
        <div *ngIf="comidaForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="foto" class="form-label">Foto</label>
      <input class="form-control" type="file" id="foto" (change)="onFileSelected($event)">
    </div>

    <div class="form-group mb-3">
      <label for="tipoComida" class="form-label">Tipo de Comida</label>
      <select id="tipoComida" formControlName="tipoComida" class="form-control">
        <option *ngFor="let tipo of tiposComida" [value]="tipo">{{ tipo }}</option>
      </select>
      <div
        *ngIf="comidaForm.get('tipoComida')?.invalid && (comidaForm.get('tipoComida')?.dirty || comidaForm.get('tipoComida')?.touched)"
        class="text-danger">
        <div *ngIf="comidaForm.get('tipoComida')?.errors?.['required']">El tipo de comida es obligatorio.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <div class="form-check">
        <input id="inMenu" formControlName="inMenu" type="checkbox" class="form-check-input">
        <label for="inMenu" class="form-check-label">En Menú</label>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input id="precio" formControlName="precio" type="number" class="form-control">
      <div
        *ngIf="comidaForm.get('precio')?.invalid && (comidaForm.get('precio')?.dirty || comidaForm.get('precio')?.touched)"
        class="text-danger">
        <div *ngIf="comidaForm.get('precio')?.errors?.['required']">El precio es obligatorio.</div>
        <div *ngIf="comidaForm.get('precio')?.errors?.['min']">El precio debe ser mayor o igual a 0.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="comidaForm.invalid">Crear Comida</button>
  </form>
</div>