<div class="container mt-4">
  <h2 class="text-center mb-4">Crear Menú</h2>
  <form [formGroup]="menuForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-sm bg-light mx-auto"
    style="max-width: 600px;">
    <div class="form-group mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input id="titulo" formControlName="titulo" type="text" class="form-control">
      <div *ngIf="menuForm.get('titulo')?.invalid && (menuForm.get('titulo')?.dirty || menuForm.get('titulo')?.touched)"
        class="text-danger">
        <div *ngIf="menuForm.get('titulo')?.errors?.['required']">El título es obligatorio.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="foto" class="form-label">Foto</label>
      <input class="form-control" type="file" id="foto" (change)="onFileSelected($event)">
    </div>

    <div class="form-group mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input id="precio" formControlName="precio" type="number" class="form-control">
      <div *ngIf="menuForm.get('precio')?.invalid && (menuForm.get('precio')?.dirty || menuForm.get('precio')?.touched)"
        class="text-danger">
        <div *ngIf="menuForm.get('precio')?.errors?.['required']">El precio es obligatorio.</div>
        <div *ngIf="menuForm.get('precio')?.errors?.['min']">El precio debe ser mayor o igual a 0.</div>
      </div>
    </div>

    <div class="form-group form-check mb-3">
      <input id="veggie" formControlName="veggie" type="checkbox" class="form-check-input">
      <label for="veggie" class="form-check-label">Es Vegano</label>
    </div>

    <div formGroupName="comidas" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Comida</h5>
        <div class="form-group mb-3">
          <label for="entrada" class="form-label">Entrada</label>
          <select id="entrada" formControlName="entrada" class="form-control">
            <option value="">Ninguna</option>
            <option *ngFor="let entrada of entradas" [value]="entrada.id">{{ entrada.nombre }}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="bebida" class="form-label">Bebida</label>
          <select id="bebida" formControlName="bebida" class="form-control">
            <option value="">Ninguna</option>
            <option *ngFor="let bebida of bebidas" [value]="bebida.id">{{ bebida.nombre }}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="platoPrincipal" class="form-label">Plato Principal</label>
          <select id="platoPrincipal" formControlName="platoPrincipal" class="form-control">
            <option value="">Ninguna</option>
            <option *ngFor="let platoPrincipal of platosPrincipales" [value]="platoPrincipal.id">{{
              platoPrincipal.nombre }}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="postre" class="form-label">Postre</label>
          <select id="postre" formControlName="postre" class="form-control">
            <option value="">Ninguna</option>
            <option *ngFor="let postre of postres" [value]="postre.id">{{ postre.nombre }}</option>
          </select>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success w-100" [disabled]="menuForm.invalid">Crear Menú</button>
  </form>
</div>