<nav class="navbar navbar-expand-lg mb-3 fixed-top">
    <div class="container-fluid">
        <img src="Qué_Comemos_logo.png" alt="¿Qué comemos? Logo" class="logo" [routerLink]="['/']">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="Cartas del día" [routerLink]="['/carta-del-dia-list']">Cartas del dia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="Menues" [routerLink]="['/menu-list']">Menues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="Comidas" [routerLink]="['/comida-list']">Comidas</a>
                </li>
            </ul>
        </div>
       <app-login-buttons [hidden]="mostrarComponente"></app-login-buttons>
       <app-user-buttons [hidden]="!mostrarComponente"></app-user-buttons>
    </div>
</nav>