<main class="main-content">
    <header class="header">
        <h1>Buffet Informática UNLP</h1>
        <p>Ofrecemos a diario diversos menús cuidadosamente planificados por nutricionistas de la UNLP</p>
    </header>

    <section class="menu-grid">
        <div class="menu-card" *ngFor="let menu of menus">
            <div class="card-content">
                <h4>{{ menu.nombre }}</h4>
                <p><b>Precio</b>: ${{ menu.precio }}</p>
                <button (click)="verDetalles(menu)" class="btn-primary">Detalles</button>
                <button [routerLink]="['/menu-update/', menu.id]">Modificar</button>
            </div>
        </div>
    </section>

    <!-- Popup para mostrar los detalles -->
    <div class="modal" [ngClass]="{'show': mostrarModal}" (click)="cerrarModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close" (click)="cerrarModal()">&times;</span>

            <h2>{{ menuSeleccionado?.nombre }}</h2>
            <p><b>Precio</b>: ${{ menuSeleccionado?.precio }}</p>

            <div *ngIf="menuSeleccionado">
                <h3>Entrada</h3>
                <div *ngIf="getComidaPorTipo('ENTRADA') as entrada">
                    <p>{{ entrada.nombre }}</p>
                </div>

                <h3>Bebida</h3>
                <div *ngIf="getComidaPorTipo('BEBIDA') as bebida">
                    <p>{{ bebida.nombre }}</p>
                </div>

                <h3>Plato Principal</h3>
                <div *ngIf="getComidaPorTipo('PLATO_PRINCIPAL') as platoPrincipal">
                    <p>{{ platoPrincipal.nombre }}</p>
                </div>

                <h3>Postre</h3>
                <div *ngIf="getComidaPorTipo('POSTRE') as postre">
                    <p>{{ postre.nombre }}</p>
                </div>
            </div>
        </div>
    </div>


</main>