<main class="main-content">
    <header class="header">
        <h1>Buffet Informática UNLP</h1>
        <p>Ofrecemos a diario diversos menús cuidadosamente planificados por nutricionistas de la UNLP</p>
    </header>
    <div class="container mt-4">
        <h2>Listado de Menues</h2>
        <button [routerLink]="['/menu-create']" [hidden]="!mostrarBotonesAdmin" class="btn btn-success mb-3">Crear</button>
        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let menu of menus">
                <div class="card h-100">
                    <div *ngIf="menu.foto" class="card-img-top text-center">
                        <img [src]="menu.foto" style="max-width: 100%; height: auto;" alt="{{ menu.nombre }}">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">{{ menu.nombre }}</h4>
                        <p class="card-text"><b>Precio</b>: ${{ menu.precio }}</p>
                        <div class="mt-auto">
                            <button (click)="verDetalles(menu)" class="btn btn-primary">Detalles</button>
                            <span class="mx-2"></span>
                            <button [routerLink]="['/menu-update/', menu.id]" [hidden]="!mostrarBotonesAdmin" class="btn btn-secondary">Modificar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup para mostrar los detalles -->
    <div class="modal" [ngClass]="{'show': mostrarModal}" (click)="cerrarModal()">
        <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ menuSeleccionado?.nombre }}</h5>
                </div>
                <div *ngIf="menuSeleccionado?.foto" class="card-img-top text-center">
                    <img
                      [src]="menuSeleccionado.foto"
                      style="max-width: 200px; height: auto;"
                      alt="{{ menuSeleccionado.nombre }}"
                    />
                  </div> 
                <div class="modal-body">
                    <p><b>Precio</b>: ${{ menuSeleccionado?.precio }}</p>
                    <div *ngIf="menuSeleccionado">
                        <div *ngIf="getComidaPorTipo('ENTRADA') as entrada">
                            <h6><b>Entrada</b></h6>
                            <p>{{ entrada.nombre }}</p>
                        </div>
                        <div *ngIf="getComidaPorTipo('BEBIDA') as bebida">
                            <h6><b>Bebida</b></h6>
                            <p>{{ bebida.nombre }}</p>
                        </div>
                        <div *ngIf="getComidaPorTipo('PLATO_PRINCIPAL') as platoPrincipal">
                            <h6><b>Plato Principal</b></h6>
                            <p>{{ platoPrincipal.nombre }}</p>
                        </div>
                        <div *ngIf="getComidaPorTipo('POSTRE') as postre">
                            <h6><b>Postre</b></h6>
                            <p>{{ postre.nombre }}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</main>